body {
    background-color: aqua;
}

h1 {
    color: bisque;
}

p {
    color: rgb(237, 146, 35);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    margin: 10%;
}

.primaria {
    color: azure;
    font-weight: initial;
}

.caja {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border: 2px dotted black;

}